node_modules/
.yarn/cache/
.yarn/install-state.gz
.expo/
dist/
dist-web/
coverage/
.env
.env.*
!.env.example
*.log
.DS_Store
apps/mobile/ios/
apps/mobile/android/
apps/mobile/.expo/
uploads/
apps/api/secrets/
*.p8
*-firebase-adminsdk-*.json
firebase-service-account.json
HOST/.public_html/
apps/mobile/dist/
